body{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: column;
}

.header_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link_list{
    display: flex;
    gap: 20px;
}

li{
    list-style-type:none;
}